.comment{
  width: 70%;
  min-width: 60%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.comment__input{
  width: 90%;
  padding: 10px;
  background-color: #ffff;
  border: 1px solid lightgrey;
}

.comment__count > p{
  font-weight: bold;
}

.comment__input > textarea {
  width: 100%;
  border: none;
  border-width: 0px;
  outline: none;
  font-size: 15px;
}

.comment__input__btn {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.comment__list {
  background-color: #ffff;
  padding: 5px;
}